@charset "UTF-8";
body{
	background:#FFFFFF;
}
#container{
  width:1000px;
  min-height:100vh;
  margin:0 auto;
  font-family: "M PLUS Rounded 1c";
  padding:20px 0 40px;
}
#container > p{
	display:flex;
	width:90%;
	margin:0 auto 20px;
	justify-content:space-between;
	align-items:center;
}
#container > p > a{
	display:block;
	width:1000px;
	height:70px;
	text-align:center;
	line-height:70px;
	border-radius:50%;
	background:#fefefe;
	font-size:20px;
	text-decoration:none;

}
h1{
  width:800px;
  margin:0 auto 20px;
  text-align:center;
  font-size:32px;
  border:3px solid #000000;
  border-radius: 20px;
  padding:0 10px;
  background-color:#FFFFFF;
  color:#000000;
  /*text-shadow: 1px 1px 0 #333;*/
}
table{
  width:90%;
  margin:20px auto 0;
  border-collapse: collapse;
  border-spacing: 0;
}
td,th{
  border:2px solid #BBBBBB;
  background-color:#ffffff;
  font-size:15px;
  padding:5px 0;
  height: 50px;
}
th{
  color:white;
  background-color:#EEEEEE; 
  text-shadow: 1px 1px 0 #333;
}
tr *:first-child{
  color:#ff69b4;
}
tr *:last-child{
  color:#0ba9ea;
}
td.today{
	background:#ffff80;
}
p {
  text-align: right;
}
p.sow{
	color: rgb(26, 26, 255);
}
p.planting{
	color: rgba(0, 179, 0, 0.99);
}
p.harvest{
	color: rgba(255, 155, 55, 0.99);
}
a.button-sow {
  display       : inline-block;
  font-size     : 8pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 4px 3px;   /* 余白       */
  background    : #ffffff;     /* 背景色     */
  color         : #1a1aff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 2px solid #ffffff;    /* 枠の指定 */
}
a.button-sow:hover {
  color         : #ffffff;     /* 背景色     */
  background    : #1a1aff;     /* 文字色     */
}
a.button-planting {
  display       : inline-block;
  font-size     : 8pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 4px 3px;   /* 余白       */
  background    : #ffffff;     /* 背景色     */
  color         : rgba(0, 179, 0, 0.99);     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 2px solid #ffffff;    /* 枠の指定 */
}
a.button-planting:hover {
  color         : #ffffff;     /* 背景色     */
  background    : rgba(0, 179, 0, 0.99);     /* 文字色     */
}
a.button-harvest {
  display       : inline-block;
  font-size     : 8pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 4px 3px;   /* 余白       */
  background    : #ffffff;     /* 背景色     */
  color         : rgba(255, 155, 55, 0.99);     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 2px solid #ffffff;    /* 枠の指定 */
}
a.button-harvest:hover {
  color         : #ffffff;     /* 背景色     */
  background    : rgba(255, 155, 55, 0.99);     /* 文字色     */
}