@charset "UTF-8";
body{
	background:#FFFFFF;
}
#container{
  width:1000px;
  min-height:100vh;
  margin:0 auto;
  font-family: "M PLUS Rounded 1c";
  padding:20px 0 40px;
}
#container > p{
	display:flex;
	width:90%;
	margin:0 auto 20px;
	justify-content:space-between;
	align-items:center;
}
#container > p > a{
	display:block;
	width:70px;
	height:70px;
	text-align:center;
	line-height:70px;
	border-radius:50%;
	background:#fefefe;
	font-size:20px;
	text-decoration:none;

}
h1{
  width:800px;
  margin:0 auto 20px;
  text-align:center;
  font-size:32px;
  border:3px solid #000000;
  border-radius: 20px;
  padding:0 10px;
  background-color:#FFFFFF;
  color:#000000;
  /*text-shadow: 1px 1px 0 #333;*/
}
table{
  width:90%;
  margin:20px auto 0;
  border-collapse: collapse;
  border-spacing: 0;
}
td,th{
  border:2px solid #BBBBBB;
  background-color:#ffffff;
  font-size:15px;
  padding:5px 0;
  height: 50px;
}
th{
  color:white;
  background-color:#EEEEEE; 
  text-shadow: 1px 1px 0 #333;
}
tr *:first-child{
  color:#ff69b4;
}
tr *:last-child{
  color:#0ba9ea;
}
td.today{
	background:#ffff80;
}